@use '../../utilities/mixins';

.three-words-images {
    @include mixins.m-bot(6.3);

    h4 {
        margin-left: 7vw;
        @include mixins.m-bot(8);
        @include mixins.m-top(6.3);
    }
    &__container {
        width: 85.416vw;
        margin: 0 auto;
        position: relative;

        img {
            position: absolute;
            z-index: -1;
        }
    }

    &__text {
        padding-top: 15.625vw;
        padding-bottom: 22.291vw;
        width: 100%;
        margin: 0 auto;

        &-one {
            text-align: center;
        }

        &-two {
            margin:0;
        }

        &-three {
            text-align: end;
        }
    }

    &__image-one {
        top: -20px;
        width: 36.406vw;
        height: auto;
    }

    &__image-two {
        right: 0;
        top: 5rem;
        width: 20.625vw;
        height: auto;
        line-height: 1;
    }

    &__image-three {
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);
        width: 38.75vw;
        height: auto;
    }
}


@include mixins.media(sm) {
    .three-words-images {
        &__text {
            width: 58.75vw;
            margin: 0 auto;

            &-two {
                margin: 6.822vw 0;
            }
        }

        &__image-one {
            top: 0;
            width: 36.406vw;
            height: auto;
            line-height: 1;
        }
    
        &__image-two {
            right: 0;
            top: 15.625vw;
            width: 20.625vw;
            height: auto;
            line-height: 80px;
            line-height: 1;
        }
    
        &__image-three {
            bottom: 2vw;
            left: 14.375vw;
            width: 38.75vw;
            height: auto;
            transform: translate(0, 0);
            line-height: 1;
        }
    }
}
