@use '../../utilities/mixins';
@use '../../utilities/variables';

.contentSlider {

    h3 {
       padding-left: 7vw; 
       @include mixins.p-top(7.1);
       @include mixins.p-bot(3);
    }

    &__intro {
        width: 80%;
        padding-left: 7vw;
    }

    &__slider {

        @include mixins.p-top(7.1);
        @include mixins.p-bot(8.9);
        

        h4 {
            @include mixins.m-bot(2.3);
        }
    }


    &__item {
        display: flex;
        flex-direction: column;
        margin: 0 0.5rem;

        p {
            width: 80%;
            @include mixins.m-bot(2.3);
        }
    }

    .splide-two {
        position: relative;

        .splide__pagination {
            display: none;
        }
    }

    .splide__slide figure, .splide__slide img {
        width: 100%;
        height: auto;
        margin-bottom: 2.3rem;
    }

    .splide__arrows {
        position: absolute;
        bottom: -40px;
        width: 100vw;
    }

    .splide__arrow {
        display: block;
        background: white;

        &--prev {
            display: none;
        }
    }
}

@include mixins.media(md) {
    .contentSlider {
        &__intro {
            width: 42.125rem;
        }
    }
}