@use '../../utilities/mixins';

.grid {
    @include mixins.p-top(6.187);
    @include mixins.p-bot(12.75);

    &__title {
        margin-left: 7vw;
        @include mixins.m-bot(5.75);
    }

    &__text {
        margin: 0 auto;
        @include mixins.m-bot(10.062);
        width: 86%;
    }

    &__conatiner {
        width: 86.729vw;
        margin: 0 auto;
        align-items: baseline;
    }

    &-item {
        @include mixins.m-bot(10);
        &__img {
            margin: 2.75rem 0;
        }

        &__title {
            @include mixins.m-bot(3);
        }

        &__text {
            @include mixins.m-bot(2);
        }

        &__centre {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }
}

@include mixins.media(sm) {
    .grid {

        &-item {
            @include mixins.m-bot(0);
            &__img {
                img {
                    margin: unset;
                }
            }
    
            &__title {
                text-align: start;
            }
        }



        &__2 {
            @include mixins.grid(50, 2);
        }

        &__3 {
            @include mixins.grid(100px, 2);
        }

        &__4 {
            @include mixins.grid(50, 2);
            align-items: center;
        }
    }
}

@include mixins.media(md) {
    .grid {
        &__conatiner {
            width: 65.729vw;
        }

        &__text {
            margin-left: 14.885vw;
            width: 49vw;
        }

        @include mixins.p-top(6.187);
        @include mixins.p-bot(12.75);

        &__2 {
            @include mixins.grid(50, 2);
        }

        &__3 {
            @include mixins.grid(100px, 3);
        }

        &__4 {
            @include mixins.grid(50, 4);
            align-items: center;

            .grid-item {
                width: 10.364vw;
            }
        }
    }
}
