@use '../../utilities/mixins';
@use '../../utilities/variables';

    .intro {
        padding: 7vw;

        &-title {
            margin-bottom: 2.5rem;
        }

        .font-intro {
            

            p {
                line-height: 1.2;
                @include mixins.font-res(60);
                font-family: 'freight';
            }

            h1, h2, h3, h4, h5, h6 {
                @include mixins.font-res(60);
                font-family: 'freight';
            }

            em {
                font-style: italic;
            }
        }

        &__what-we-do-title {
            
            p {
                margin-bottom: 1rem;
                border-bottom: 1px solid #{variables.$dark_gray};
            }

            .white-text {
                border-bottom: 1px solid #{variables.$white};
            }
        }

        &__what-we-do-container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            p {
                margin-bottom: 0.5rem;
            }
        }
    }

@include mixins.media(sm) {
    .intro {
        display: flex;
        justify-content: space-between;
        padding-left: 7vw;
        padding-right: 7vw;

        &-title {
            flex: 0.5;
            margin-bottom: unset;
        }

        &-text {
            flex: 0.4;
            p {
                width: 100%;
                padding-left: 3.593vw;
                border-left: 1px solid #{variables.$dark_gray};
            }

           .white-text {
                    border-left: 1px solid #{variables.$white};
            }
        }

        &__what-we-do {
            flex: 0.4;
        }

        .offset {
            margin-top: 14.895vw;
        }
    }
}

@include mixins.media(lg) {
    .intro {
        padding: 10.416vw 14.479vw 15.520vw 7.291vw;

        &-title {
            margin-bottom: unset;
        }
    
        &-text {
            p {
                padding-left: 3.593vw;
            }
        }
    }
}

@include mixins.media(xl) {
    .intro {
        .font-intro {
            @include mixins.font-res(70);
        }
        
        &__what-we-do-container {
            width: 70%;
        }
    }
}