@use '../../utilities/mixins';

.process {


    &__title {
        padding-left: 7vw;
        padding-top: 5.572vw;
    }

    &__textbox  {
        width: 86vw;
        @include mixins.m-top(12.75);
        @include mixins.m-bot(16.875);
        margin-left: 7vw;
        margin-right: 7vw;


        p:not(:last-child) {
            margin-bottom: 2rem;
        }
    }

    &__casestudy {
        position: relative;
        width: 100%;
    }

    &__img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__service {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 2rem;
        padding-bottom: 8.854vw;

        p {
            z-index: 10;
        }
    }

    &__casestudyName {

        display: flex;
        align-items: center;
        justify-content: center;
        

        p {
            z-index: 1;
            font-size: clamp(50px, 8vw, 200px);
        }


        img {
            width: 0.75rem;
            z-index: 1;
        }
    }

    &__link {

        display: flex;
        align-content: center;
        justify-content: center;
        padding-bottom: 4.375vw;
        padding-top: 8.541vw;

        a {
            line-height: 1;
            margin-right: 1rem;
            z-index: 1;
        }

        img {
            z-index: 1;
        }
    }

    &__backBtn {
        display: flex;
        align-items: center;
        padding-left: 7vw;
        padding-top: 2rem;

        img {
            margin-right: 1rem;
        }
    }
}


@include mixins.media(sm) {
    .process {
        @include mixins.p-bot(11.8);
        &__textbox  {
            width: 71vw;
            border-left: solid 1px #707070;
            padding-left: 2vw;
            margin-left: auto;
            margin-right: auto;
        }

        &__casestudy {
            width: 71.25vw;
            max-width: 85rem;
            margin: 0 auto;
        }

        &__casestudyName {    
            img {
                width: 1.5rem;
            }
        }
    }
}

@include mixins.media(lg) {
    .process {
        &__textbox  {
            width: 45vw;
            max-width: 50rem;
        }
    }
}