.our-projects {
    &__header {
        width: 85.416vw;
        border-top: 1px #707070 solid;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto 3.906vw auto;
        padding-top: 2.812vw;
    }
}
