@use '../../utilities/mixins';

.flx-textimage {

    padding-bottom: 15vw;
    h3 {
        padding: 5vw 0 5vw 7vw;
    }

    &__container {
        display: flex;
        flex-direction: column;
        // padding-top: 5vw;

        figure {
            flex: 1;

            img {
                width: 100%;
                height: auto;
            }
        }
    }

    &__content {
        margin-left: 7vw;
        width: 90%;

        h4 {
            padding-top: 2rem;

        }
    }
}

@include mixins.media(sm) {
    .flx-textimage {
        &__container {
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }

        &__container {

    
            figure {
                flex: 0.5;
            }
        }

        &__content {
            flex: 0.5;
            width: 80%;

            div {
                width: 80%;
            }
        }
    }

    .reverse {
        .flx-textimage{
            &__container {
                flex-direction: row-reverse;
            }
        }
    }
}