@use '../../utilities/mixins';

.full-img-link {

    position: relative;

    &__bg,
    .full-img-link__bg > img {
        width: 100%;
        height: 100vw;
        object-fit: cover;
    }

    &__content {
        position: absolute;
        left: 14vw;
        top: 4vw;
    }
}

@include mixins.media(sm) {
    .full-img-link {
        &__bg,
        .full-img-link__bg > img {
            height: auto;
        }
    }
}