@use '../../utilities/mixins';
@use '../../utilities/variables';

.block-text-image {
    position: relative;
    padding: 10vmin 0;
    margin-bottom: -1px;

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 13rem;
        height: 13rem;
    }


    &__content {
        display: grid;
        max-width: 1350px;
        margin: 0 auto;
        grid-template-columns: 1fr;
        gap: 0;
        padding: 0 2.5rem;
        @include mixins.m-bot(3.75);
    }

    &__text-box {
        z-index: 1;
        h4 {
            margin-bottom: 2rem;
            margin-top: 1rem;
        }
    }

    &__image-box {
        z-index: 1;
  
        align-self: center;
        img {
            width: 100%;
            height: auto;
        }
    }
}


@include mixins.media(sm) {
    .block-text-image {
        &__content {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
        }

        &__text-box {
            padding-left: 8vw;
     
        }

        &:before {
            height: unset;
            @include mixins.m-bot(3.75);
            width: 45%;
        }

        &__text-box {
            h4 {
                margin-top: 0;
            }
        }
    }

    .reverse {
        &:before {
            left: unset;
            right: 0;
            @include mixins.m-top(3.75);
            margin-bottom: 0;
        }
        .block-text-image {
    
                &__text-box {
                    z-index: 1;
                    padding-left: 0;
                    padding-right: 8vw;
                    order: -1
                }
            
                &__image-box {
                    order: 1
                }

                &__content {
                    @include mixins.m-top(3.75);
                    margin-bottom: 0;
                }
        }
    }
}

@include mixins.media(md) {
    .block-text-image {
        &__text-box {
            h4 {
                margin-bottom: 3.6rem;
            }
        }
    }
}


// .page-id-197 {
//     .bg-mid-green {
//         &:before {
//             background: red;
//         }
//     }
// }