@use '../utilities/mixins';

.product {
    &__header {
        position: relative;
        z-index: -1;
        img {
            width: 100%;
        }
    }

    &__headerContent {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
        width: 100%;

        img {
            width: 6px;
        }

        h2 {
            margin: 0 1rem;
        }
    }

    &__backBtn {
        display: flex;
        align-items: center;
        padding-left: 7.291vw;
        padding-top: 2rem;

        img {
            margin-right: 1rem;
        }
    }
}

@include mixins.media(sm) {
    .product {
        &__headerContent {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 1;
    
            img {
                width: 17px;
            }
        }
    }
}