@use '../utilities/mixins';

.meet-the-team {
    background-color: #EAEAE8;
    padding-left: 7vw;
    padding-right: 7vw;
    padding-bottom: 9.635vw;

    &__header {
        position: relative;
        width: 100%;
        img {
            width: 100%
        }
    }

    h3 {
        @include mixins.p-top(7.6);
        padding-bottom: 1.8rem
        
    }

    &__grid {
        @include mixins.grid(85px, 1);
    }

    &__subTitle {
        @include mixins.font-res(35);
        line-height: 1;
        margin-top: 1.8rem;
    }

    &__role {
        @include mixins.font-res(18);
        margin-bottom: 3.32rem;
    }

    &__link {
        border-bottom: 1px solid #707070;
        padding-bottom: 0.5rem;
    }

    &__img-link {
        position: relative;
        display: block;
        height: 0;
        padding-top: 100%;
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}



@include mixins.media(sm) {
    .meet-the-team {
        &__grid {
            @include mixins.grid(auto, 2);
        }
    }
}

@include mixins.media(lg) {
    .meet-the-team {
        padding-right: 10.8vw;
        &__grid {
            @include mixins.grid(auto, 4);
        }
    }
}